<div class="container">
    <div class="text-center">
        <h3>Create account</h3>
    </div>
    <div *ngIf="isSignUpSuccessful">
        <h3>
            <strong>Confirm your email adress</strong>
        </h3>
        <p>
            We have sent an email with a confirmation link to your email adress. In order to complete the sign-up process, please clic the confirmation link.
        </p>
        <p>
            If you didn't receive a confirmation email, please check your spam folder. Also, please verify that you entered a valid email address in our sign-up form.
        </p>
    </div>
    <div *ngIf="!isSignUpSuccessful">


        <div class="form-group">
            <label>Your First name</label>
            <input class="form-control" placeholder="First name" name="firstName" [(ngModel)]="user.firstName" #firstName="ngModel" required />
            <div [hidden]="firstName.valid || firstName.untouched" class="alert alert-danger">
                Please enter Your First name
            </div>
        </div>
        <div class="form-group">
            <label>Your Last name</label>
            <input class="form-control" placeholder="Last name" name="lastName" [(ngModel)]="user.lastName" #lastName="ngModel" required />
            <div [hidden]="lastName.valid || lastName.untouched" class="alert alert-danger">
                Please enter Your Last name
            </div>
        </div>
        <div class="form-group">
            <label>E-mail</label>
            <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" class="form-control" placeholder="E-mail" name="email" [(ngModel)]="user.email" #email="ngModel" required />
            <div [hidden]="email.valid || email.untouched" class="alert alert-danger">
                Please enter a valid email address
            </div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" placeholder="At least 6 characters" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" class="form-control" name="password" [(ngModel)]="user.password" #password="ngModel" required />
            <div [hidden]="password.valid || password.untouched" class="alert alert-danger">
                Must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters
            </div>
        </div>
        <div class="form-group">
            <label>Password confirmation</label>
            <input type="password" placeholder="Password should be the same" pattern="{{ user.password }}" class="form-control" name="passwordConfirmation" [(ngModel)]="user.passwordConfirmation" #passwordConfirmation="ngModel" required />
            <div [hidden]="passwordConfirmation.valid || passwordConfirmation.untouched" class="alert alert-danger">
                Password should be the same
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-success" [disabled]="firstName.invalid || lastName.invalid || 
    email.invalid|| password.invalid || passwordConfirmation.invalid" (click)="register()">Sign Up your account</button>
        </div>
        <div class="row justify-content-center">
            Already have an account?
            <a href="account/signin">Sign-In</a>
        </div>
    </div>
</div>