<div class="form-group">
    <label>Your E-mail</label>
    <input class="form-control" name="email" [(ngModel)]="user.email" #email="ngModel" required />
    <div [hidden]="email.valid || email.untouched" class="alert alert-danger">
        Please enter correct E-mail
    </div>
</div>
<div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password" [(ngModel)]="user.password" #password="ngModel"
        required />
    <div [hidden]="password.valid || password.untouched" class="alert alert-danger">
        Please enter correct password
    </div>
</div>

<div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="rememberMe" name="rememberMe" [(ngModel)]="user.rememberMe" >
    <label class="custom-control-label" for="rememberMe">Remember me</label>
</div>

<button [disabled]=" email.invalid|| password.invalid " class="btn btn-default" (click)="logIn()">Log in</button>