<div class="container">
    <div class="text-center">
        <h3>Password assistance</h3>
    </div>
    <div *ngIf="isEmailSended">
        <p>
            We sent a message to e-mail that you provided.
        </p>
        <p>
            Please check yor e-mail box and follow the link in message for further details.
        </p>
        <div class="row align-items-center justify-content-center">
            <a class="btn btn-success" href="#">Continue</a>
        </div>
    </div>
    <div *ngIf="!isEmailSended">
        <div class="form-group">
            <p>
                Enter the email address associated with your account
            </p>
            <label>Your E-mail</label>
            <input class="form-control" name="email" [(ngModel)]="requestModel.email" #email="ngModel" required />
            <div [hidden]="email.valid || email.untouched" class="alert alert-danger">
                Please enter correct E-mail
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <button [disabled]=" email.invalid" class="btn btn-success" (click)="forgotPassword()">Continue</button>
        </div>
    </div>
</div>