<div class="container">
    <div class="row">
        <div class="col-9">
            <fa-icon [icon]="faUserCircle" size="9x"></fa-icon>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-primary" (click)="changeEditorMode()">Edit profile</button>
        </div>
    </div>
    <h3>My profile</h3>
    <fieldset [disabled]="!isOnEditing">
        <div class="form-group">
            <label for="firstName">Your First name</label>
            <input id="firstName" class="form-control" placeholder="First name" [(ngModel)]="userProfileRequestModel.firstName" #firstName="ngModel">
        </div>
        <div class="form-group">
            <label for="lastName">Your Last name</label>
            <input id="lastName" class="form-control" placeholder="Last name" [(ngModel)]="userProfileRequestModel.lastName" #lastName="ngModel">
        </div>
        <div class="form-group">
            <label for="email">Your E-mail</label>
            <input disabled="" id="email" class="form-control" placeholder="E-mail" [(ngModel)]="userProfileRequestModel.email" #email="ngModel">
        </div>
    </fieldset>
    <div *ngIf="isOnEditing">
        <div class="form-group">
            <label for="password">Current password</label>
            <input type="password" id="currentPassword" class="form-control" placeholder="Curent password" [(ngModel)]="userProfileRequestModel.currentPassword" #currentPassword="ngModel">
        </div>
        <div class="form-group">
            <label for="newPassword">New password</label>
            <input type="password" id="newPassword" class="form-control" placeholder="New password" [(ngModel)]="userProfileRequestModel.password" #newPassword="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" />
        </div>
        <div class="form-group">
            <label for="newPasswordConfirmation">New password confirmation</label>
            <input type="password" id="newPasswordConfirmation" class="form-control" placeholder="New password confirmation" [(ngModel)]="userProfileRequestModel.passwordConfirmation" #newPasswordConfirmation="ngModel" pattern={{userProfileRequestModel.password}}/>
        </div>
        <div class="d-flex btn-group">
            <button class="btn btn-success" (click)="updateProfile()">
                    Confrim changes   
                </button>
            <button class=" btn btn-danger" (click)="getProfile()">
                    Cancel
                </button>
        </div>
    </div>
</div>