<div class="container">
    <div class="row">
        <div class="col">
            <img class="card-img-top" src="assets/book.png" alt="Card image cap">
        </div>
        <div class="col">
            <div class="card" style="height: 100%">
                <div class="card-header">
                    <h3>{{printedEdition.name}}</h3>
                    <p>By :</p>
                    <p *ngFor="let author of printedEdition.authorModels">
                        <strong>
                        {{author.name}}
                    </strong>
                    </p>
                </div>
                <div class="card-body align-items-center justify-content-end">
                    <div class="form-group">
                        <label for="select">Quantity</label>
                        <select class="form-control" id="select" [(ngModel)]="quantity">
                                      <option value=1>1</option>
                                      <option value=2>2</option>
                                      <option value=3>3</option>
                                      <option value=4>4</option>
                                      <option value=5>5</option>
                                    </select>
                    </div>
                    <button class="btn btn-success" (click)="addToCart(printedEdition)">
                            <fa-icon [icon]="faCartPlus"></fa-icon> Add to cart
                        </button>
                </div>
                <div class="card-footer">
                    <h3>
                        {{printedEdition.price.toFixed(2)}} {{Currency[printedEdition.currency]}}
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        <h1>Description</h1>
        <p>
            {{printedEdition.description}}
        </p>
    </div>
</div>