<div *ngIf="isPasswordChanged">
    <h3>
        Password changed!
    </h3>
</div>
<div *ngIf="!isPasswordChanged">
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="requestModel.password" #password="ngModel" required />
        <div [hidden]="password.valid || password.untouched" class="alert alert-danger">
            Please enter correct password
        </div>
    </div>
    <div class="form-group">
        <label>Password confirmation</label>
        <input type="password" class="form-control" name="passwordConfirmation" [(ngModel)]="requestModel.passwordConfirmation" #passwordConfirmation="ngModel" required />
        <div [hidden]="passwordConfirmation.valid || passwordConfirmation.untouched" class="alert alert-danger">
            Please enter correct password
        </div>
    </div>

    <button [disabled]=" password.invalid || passwordConfirmation.invalid" class="btn btn-default" (click)="resetPassword()">Confirm</button>
</div>