<ng-template #authorEditor let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add author</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="form-group">
        <label for="authorName">Author's name</label>
        <input type="text" class="form-control" id="authorName" aria-describedby="nameHelp" placeholder="Enter name" [(ngModel)]="author.name" name="name" #name="ngModel" required>
        <small id="nameHelp" class="form-text text-muted">Enter here name of the author</small>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="cancel()" (click)="modal.close()">Cancel</button>
        <button type="button" class="btn btn-outline-dark" [disabled]="name.invalid" ngbAutofocus class="btn btn-danger" (click)="save()" (click)="modal.close()">Confirm</button>
    </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(authorEditor)">Add author</button>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Product</th>
            <th scope="col">Management</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let a of authors" class="table-secondary">
            <th scope="row">{{a.id}}</th>
            <td>{{a.name}}</td>
            <td>
                <div *ngFor="let p of a.printedEditionModels">
                    <p>{{p.name}}</p>
                </div>
            </td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-sm btn-primary" (click)="editAuthor(a)" (click)="open(authorEditor)">Edit</button>
                    <button class="btn btn-sm btn-danger">Remove</button>
                </div>
            </td>
        </tr>


    </tbody>
</table>
<router-outlet></router-outlet>