<div class="row mb-5 align-items-end justify-content-center">
  <div class="col-sm">
    <label for="minPrice" class="m-0">Price from</label>
    <input type="number" min="0" class="form-control" id="minPrice" [(ngModel)]="parametersSetting.priceFrom"
      name="priceFrom" #priceFrom="ngModel">
  </div>
  <div class="col-sm">
    <label for="maxPrice" class="m-0">Price to</label>
    <input type="number" class="form-control" id="maxPrice" [(ngModel)]="parametersSetting.priceTo" name="priceTo"
      #priceTo="ngModel">
  </div>
  <div class="col-sm">
    <label for="typeOfPrintedEdition" class="m-0">Type:</label>
    <select class="form-control" id="typeOfPrintedEdition" [(ngModel)]="parametersSetting.printedEditionType">
      <option *ngFor="let item of typeKeys()">{{item}}</option>
    </select>
  </div>

  <div class="col-sm">
    <label for="sortTypeSelect" class="m-0">Sort by:</label>
    <select class="form-control" id="sortTypeSelect" [(ngModel)]="parametersSetting.sortCriteria">
      <option *ngFor="let item of sortingKeys()">
        {{item}}
      </option>
    </select>
  </div>

  <div class="col-sm">
    <button type="button" class="btn btn-danger" (click)="setSearchParams()">search</button>
  </div>
</div>

<div class="container">
  <div class="row">
    <div *ngFor="let p of printedEditions" class="col-sm-4">
      <div>
        <div class="card">
          <a [title]="p.name + ' details'" [routerLink]="[p.id]">
            <img class="card-img-top" src="assets/book.png" alt="Card image cap">
          </a>
          <div class="card-body">
            <h5 class="card-title">{{p.name}}</h5>
            <p class="card-text">{{p.description}}</p>
            <p class="card-text"><small class="text-muted">{{p.price}}</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <ngb-pagination class="d-flex justify-content-center" [collectionSize]="count" [(page)]="currentPage"
    [pageSize]="pageSize" [maxSize]="3" (pageChange)="goTo()"></ngb-pagination>
</div>