.printed-edition-title {
    height: 50px;
    overflow: auto;
    overflow-x: hidden;
}

.printed-edition-description {
    height: 150px;
    overflow: auto;
    overflow-x: hidden;
}

.printed-edition-authors {
    height: 30px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

::-webkit-scrollbar {
    display: none;
}