<h3>Password assistance</h3>

<div *ngIf="isEmailSended">
    <p>
        We sent a message to e-mail that you provided.
    </p>
    <p>
        Please check yor e-mail box and follow the link in message for further details.
    </p>
</div>
<div *ngIf="!isEmailSended">
    <div class="form-group">
        <label>Your E-mail</label>
        <input class="form-control" name="email" [(ngModel)]="user.email" #email="ngModel" required />
        <div [hidden]="email.valid || email.untouched" class="alert alert-danger">
            Please enter correct E-mail
        </div>
    </div>

    <button [disabled]=" email.invalid" class="btn btn-default" (click)="forgotPassword()">Send</button>
</div>