<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

    <div class="container">
        <a class="navbar-brand" [routerLink]="'/'">Book publishing company</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="'/printededition'">Catalog</a>
                </li>
                <li class="nav-item active" *ngIf="isOrdinaryUser()">
                    <a class="nav-link" [routerLink]="'/chat/chatroom'">Chat</a>
                </li>
                <li class="nav-item active" *ngIf="isAdmin()">
                    <a class="nav-link" [routerLink]="'/admin/chatmanagement'">
                        <div class="row">
                            <div class="col-6">
                                Chats
                            </div>
                            <div class="col-6" *ngIf="uncheckedChatsCount!=0">
                                <span class="fa-layers fa-fw justify-content-center d-flex">
                                        <fa-icon [icon]="faBell" size="1x" [styles]="{'color':'red'}"></fa-icon>
                                        <span class="fa-layers-text">{{uncheckedChatsCount}}</span>
                                </span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="row align-items-center justify-content-around d-flex">
                <div class="col-4 justify-content-center d-flex nav-item dropdown" *ngIf="isAdmin()">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <fa-icon [icon]="faTools" size="3x" [styles]="{'color':'white'}"></fa-icon>
                    </a>
                    <div class="dropdown-menu dropdown-menu left" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
                        <a class="nav-link" [routerLink]="'/admin/productmanagement'">Products management</a>
                        <a class="nav-link" [routerLink]="'/admin/authormanagement'">Authors management</a>
                        <a class="nav-link" [routerLink]="'/admin/ordermanagement'">Orders management</a>
                        <a class="nav-link" [routerLink]="'/admin/usermanagement'">Users management</a>
                    </div>
                </div>
                <div class="col-4 justify-content-center d-flex nav-item">
                    <a [routerLink]="'/cart/cartitems'">
                        <fa-icon [icon]="faCartPlus" size="3x" [styles]="{'color':'white'}"></fa-icon>
                    </a>
                </div>
                <div class="col-4 justify-content-center align-items-center d-flex nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <fa-icon [icon]="faUserCircle" size="3x" [styles]="{'color':'white'}"></fa-icon>
                    </a>
                    <div class="dropdown-menu dropdown-menu left" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
                        <div *ngIf="!isLogedOn()">
                            <a class="dropdown-item" [routerLink]="'/account/signin'">Sign In</a>
                            <a class="dropdown-item" [routerLink]="'/account/signup'">Sign Up</a>
                            <a class="dropdown-item" [routerLink]="'/account/forgotpassword'">Password assistance</a>
                        </div>
                        <div *ngIf="isLogedOn()">
                            <a class="dropdown-item" [routerLink]="'/user/profile'">My profile</a>
                            <a class="dropdown-item" [routerLink]="'/user/orders'">My orders</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item btn" *ngIf="isLogedOn()" (click)="logout()">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>