<div class="container mt-3">
    <h3>Search parameters:</h3>
    <input type="text" autocomplete="off" (keyup)="getPrintedEditions()" class="form-control" id="authorsSearch" [(ngModel)]="printedEditionsRequestModel.keyWord" name="keyWord" #keyWord="ngModel" placeholder="Type there for search by printed edition title, description">

    <div class="row mb-5 align-items-end justify-content-around d-flex">
        <div class="col-sm">
            <label for="minPrice" class="m-0">Price from:</label>
            <input type="number" min="0" class="form-control" id="minPrice" [(ngModel)]="filterForm.priceFrom" name="priceFrom" #priceFrom="ngModel">
        </div>
        <div class="col-sm">
            <label for="maxPrice" class="m-0">Price to:</label>
            <input type="number" class="form-control" id="maxPrice" [(ngModel)]="filterForm.priceTo" name="priceTo" #priceTo="ngModel">
        </div>

        <div class="col-sm">
            <label for="sortTypeSelect" class="m-0">Sort by:</label>
            <select class="form-control" id="sortTypeSelect" [(ngModel)]="filterForm.sortCriteria">
      <option *ngFor="let item of enumMap(SortCriteria,'None')" [ngValue]="item.id">
        {{item.name}}
      </option>
    </select>
        </div>
        <div class="col-sm">
            <label for="printedEditionTypeSelect" class="m-0">Printed edition type:</label>
            <select class="form-control" id="printedEditionTypeSelect" [(ngModel)]="filterForm.printedEditionType">
      <option *ngFor="let item of enumMap(PrintedEditionType,'All types')" [ngValue]="item.id">
        {{item.name}}
      </option>
    </select>
        </div>

        <div class="col-sm d-flex justify-content-end mt-4">
            <button type="button" class="btn btn-danger btn-block" (click)="setSearchParameters()">search</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div *ngFor="let printedEdition of printedEditionsResponseModel.printedEditionModels" class="col-sm-4 mt-3">
            <div class="card border shadow">
                <a [title]="printedEdition.name + ' details'" [routerLink]="[printedEdition.id]">
                    <img class="card-img-top" src="assets/book.png" alt="Card image cap">
                </a>
                <div *ngIf="printedEdition.withDiscount" class="discount-label justify-content-end d-flex">
                    <h4>Discount! -{{printedEdition.discountSize}}% </h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title printed-edition-title">{{printedEdition.name}}</h5>
                    <p>Description:</p>
                    <div class="card">
                        <p class="card-text printed-edition-description">{{printedEdition.description}}</p>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <p>Authors: </p>
                        </div>
                        <div class="col-8 printed-edition-authors text-right">
                            <p class="card-text" *ngFor="let author of printedEdition.authorModels">
                                {{author.name}}
                            </p>
                        </div>
                    </div>
                    <div class="container row card-priceholder">
                        <div *ngIf="!printedEdition.withDiscount">
                            {{printedEdition.price.toFixed(2)}}
                        </div>
                        <div *ngIf="printedEdition.withDiscount">
                            <h4> {{printedEdition.discountPrice.toFixed(2)}}</h4>
                            <div class="text-muted">
                                <del>
                                    {{printedEdition.price.toFixed(2)}} 
                                </del>
                            </div>
                        </div>
                        {{Currency[printedEdition.currency]}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer mt-3">
    <ngb-pagination class="d-flex justify-content-center" [collectionSize]="printedEditionsResponseModel.count" [(page)]="printedEditionsRequestModel.page" [pageSize]="printedEditionsRequestModel.pageSize" [maxSize]="3" (pageChange)="getPrintedEditions()"></ngb-pagination>
</div>