.printed-edition-title {
    height: 50px;
    overflow: auto;
    overflow-x: hidden;
}

.printed-edition-description {
    height: 150px;
    overflow: auto;
    overflow-x: hidden;
}

.printed-edition-authors {
    height: 30px;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

.discount-label {
    position: absolute;
    right: 0px;
    top: 10px;
}

.card-priceholder {
    height: 50px;
}

::-webkit-scrollbar {
    display: none;
}