<div class="container">
    <div class="row">
        <div class="col-6">
            <div [routerLink]="'/admin/chatmanagement'">
                Get back to chats list
            </div>
        </div>
        <div class="col-6">
            <h3>Chat with: {{chatModel.name}}</h3>
        </div>
    </div>
    <div class="card row chat-window mt-3" #scrollMe [scrollTop]="scrollMe.scrollHeight">
        <div class="container mt-3">
            <div *ngFor="let message of chatModel.messageModels">
                <div class="row justify-content-around d-flex" *ngIf="message.userId!=getCurrenUserId()">
                    <div class="col-9 card text-white bg-success mb-3 justify-content-start d-flex" style="max-width: 20rem;">
                        <div class="card-body">
                            <p class="card-text">{{message.content}}</p>
                        </div>
                    </div>
                    <div class="col-3 justify-content-end d-flex">
                        {{message.creationDate| date: 'mediumTime'}}
                    </div>
                </div>
                <div class="row justify-content-around d-flex" *ngIf="message.userId==getCurrenUserId()">
                    <div class="col-3 justify-content-start d-flex">
                        {{message.creationDate| date: 'mediumTime'}}
                    </div>
                    <div class="col-9 card text-white bg-dark mb-3 justify-content-end d-flex" style="max-width: 20rem;">
                        <div class="card-body">
                            <p class="card-text">{{message.content}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card row message-input mt-3">
        <div class="col-9 mt-2">
            <input class="form-control" type="text" id="message" [(ngModel)]="messageModel.content" #message="ngModel" placeholder="Message" required/>
        </div>
        <div class="col-3 mt-2">
            <button type="button" [disabled]="message.invalid" class="btn btn-success btn-block" (click)="sendMessage()">Send</button>
        </div>
    </div>
</div>