<div class="container">
    <table class="container table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Date</th>
                <th scope="col">Description</th>
                <th scope="col">Order amount</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orderResponseModel.orderModels">
                <th scope="col">{{order.id}}</th>
                <th scope="col">{{order.creationDate | date: 'short'}}</th>
                <th scope="col">{{order.description}}</th>
                <th scope="col">{{order.orderAmount}}</th>
            </tr>
        </tbody>
    </table>
</div>